.box {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 0px 0em;
    background-color: black;
    /* height: 100px; */

  }
  
  .box :first-child {
      align-self: center;
  }

  .boxleft{
      display: flex;
      flex-direction: column;
      padding-left: 12px;
      padding-right: 12px;
  }

  .lm-cont{
      width: 100%;
      height: 50px;
      background-color: black;
      display: flex;
      flex-direction: row;
      color: white;

}
  .lm-continnlogo{
    display: block;
    width: 35px;
    height: 25px;
}
.lm-continn{
display: block;
width: 150px;
height: 25px;
align-self: center;
background-color: pink;
}